{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">
    <h2 class="display-5">Upload Page</h2>
</div>

<div class="container mt-3">
    <h2 class="display-7">Upload files here</h2>
</div>

<div class="container mt-2">
    <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-secondary">Upload File</button>
    </form>
</div>

{% endblock %}